
.splash-screen {
  margin: 30px auto;
}

.splash-screen .game {
  border: 1px solid #63921A;
  max-width: 800px;
  margin: auto;
  padding: 20px 40px;
  background-color: #F2FDE0;
}

.splash-screen .game h1 {
  text-align: center;
  font-family: 'Dokdo', cursive;
  font-size: 80px;
  display: block;
}

.splash-screen .game .container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.left {
  padding: 0 50px 0 0;
  margin: 30px 0 0 0;
}
.left button {
  display: block;
  min-width: 200px;
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  font-family: 'Dokdo', cursive;
  padding: 0 0 0 0;
}
button.start {
  font-family: 'Dokdo', cursive;
  font-size: 40px;
  height: 45px;
  line-height: 45px;
  background-color: #B6E0FE;
  color: #2680C2;
  border: 1px solid #2680C2;
  margin-bottom: 30px;
}
button.start:hover {
  background-color: #2680C2;
  color: #B6E0FE;
  border: 1px solid #B6E0FE;
}

button.harder-on {
  background-color: #FF9B9B;
  color: #AB091E;
  border: 1px solid #AB091E;
}
button.harder-on:hover {
  background-color: #AB091E;
  color: #FF9B9B;
  border: 1px solid #FF9B9B;
}
button.easier-on {
  background-color: #8EEDC7;
  color: #147D64;
  border: 1px solid #147D64;
}
button:hover.easier-on {
  background-color: #147D64;
  color: #8EEDC7;
  border: 1px solid #8EEDC7;
}

button.easier-off, button.harder-off {
  background-color: #E1E1E1;
  color: #626262;
  border: 1px solid #626262;
  disabled: disabled;
  cursor: not-allowed;
}

